html,body{
	height:100%;
	font-size:14px;
	color: #464646;
}
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
ul li{
  list-style:none;
}
/*统一样式*/
.container{
  max-width: 100%;
  width: 90%;
  position: relative;
}
.met-index-body{
  padding: 70px 0;
  position: relative;
}
.text-center{
  text-align: center;
}



/*导航条样式*/
.navbar{
  border:none;
}
.met-nav{
  min-height: 60px;
  margin-bottom: 0px;
}
.navbar-fixed-top{
  width:100%;
}
.navbar-shadow {
  animation-duration: 0.7s;
  background:rgba(0, 0, 0, 0.8);
}
.fadeInDown {
  animation-name:fadeInDown;
}
/*container 内容*/
.vertical-align-middle {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  font-size: 14px;
}
button{
  font-family: inherit;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font: inherit;
}
.met-nav .navbar-toggle {
  height: 60px;
  float: right;
  padding: 22px 15px; 
  margin-top: 0; 
  margin-bottom: 0;
  line-height: 22px;
  background: 0 0!important;
  position: relative;
  margin-right: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: transparent;
  color: #76838f;
}
.hamburger{
  transition: transform .2s ease-in-out;
  font-size: 20px;
  vertical-align: middle;
}
@media (max-width: 767px){
  .met-nav .hamburger .hamburger-bar{
      background: #fff!important;
  }
}
.navbar-default .navbar-brand {
    color: #37474f;
    line-height: 22px;
    font-weight: 500;
}
.met-nav .navbar-logo {
    height: 60px;
    padding: 0px;
    display: block;
}
.vertical-align {
    font-size: 0;
}
@media (max-width: 767px){
  .navbar{
    background:black!important;
  }
  .met-nav .navbar-logo {
    float: none;
    max-width: 90px;
    margin: 0 auto;
   }
}
.met-nav .navbar-logo img {
  max-height: 50px;
}
@media (max-width: 991px){
  .met-nav .navbar-logo img {
    max-height: 30px;
  }
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}   
.navbar-header .hided:before, .navbar-header .collapsed:before{ 
    transform: rotate(0);
}
.hamburger-close:before {
    transform-origin: 8%;
}
.hamburger:before, .hamburger .hamburger-bar, .hamburger:after {
    display: block;
    width: 1em;
    height: .1em;
    margin: 0;
    background: #fff;
    border-radius: 1px;
    content: "";
    transition: transform .2s ease-in-out;
}
.hamburger:after {
    display: block;
    width: 1em;
    height: .1em;
    margin: 0;
    background: #fff;
    border-radius: 1px;
    content: "";
    transition: transform .2s ease-in-out;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.hamburger-close.collapsed .hamburger-bar {
    opacity: 1;
}
.hamburger .hamburger-bar {
    margin: .2em 0;
}
.hamburger .hamburger-bar {
    display: block;
    width: 1em;
    height: .1em;
    border-radius: 1px;
}
.hamburger .hamburger-bar {
    transition: transform .2s ease-in-out;
}
a.active {
    color: #e4c17e!important;
}
.zoomIn {
  animation-name: zoomIn;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.navbar-default .navbar-nav >li>a {
   border-top:2px solid transparent;
   color: #e4c17e!important; 
   height:auto;
}
.navbar-default .navbar-nav >li>a:hover{ 
   color: #e4c17e; 
   border-top:2px solid #e4c17e;
}
.collapse .nav{
  border-bottom:none;
}
.dropdown .fa{
  height:15px;
  width:20px;
  display:inline-block;
  font-style:normal;
  font-family:"iconfont";
  font-size:20px;
  transition:2s;
}
.dropdown-menu{
  background:#333;
}
.dropdown-menu li a{
  color: #e4c17e!important;
}
.dropdown-menu li:hover a{
  background:#fff;
  color: #e4c17e!important;
}
#contact{
  width:100%;
  height:auto;
  position:relative;
}
#contact img{
	height:100%;
	width:100%;
}
.banner-text{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.banner-text .container{
	height:100%;
  display:table;
  text-align: center;
  max-width:100%;
}
.container .banner-text-con{
	width:60%;
	display: table-cell;
  vertical-align: middle; 
}
.container h2{
	  margin: 0;
	  font-size:40px;
    color:#fff;
}
@media (max-width:991px){
	.banner-text h2{
		font-size:30px;
	}
}
@media (max-width:767px){
	.banner-text h2{
		font-size:24px;
	}
}
.nav{
	border-bottom: 1px solid #f0f2f5;
  text-align:center;
}
.nav .nav-ul{
	display: flex;
	justify-content: center;
	margin:0;
	-webkit-box-pack: center;
}
.nav-ul .nav-ul-li{
	float:left;
}
.nav-ul li a{
	padding: 14px;
  display: block;
  font-size: 16px;
  color: #90939b;
  text-decoration:none;
}
.nav-ul li a:hover{
	color: #e4c17e;
}
.dropdown-menu li a{
	padding: 8px 15px;
}


#contact{
  margin-top:60px;
}



.met-show {
  padding: 30px 0px;
  background: #ffffff;
  word-break: break-all;
}
@media (max-width: 767px) {
  .met-show {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .met-show {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .met-show .met-editor div {
    width: 100%!important;
    float: none!important;
    margin: 0!important;
    text-align: left;
  }
  .met-show .met-editor img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
}









/*footer*/
footer{
	height: auto;
  color: #afa9a9;
  line-height:18px;
  background-color: #221f1e!important;
}
footer .container{
	padding: 20px;
  border-top: 1px solid #777;
}
.foot-center{
	text-align: center!important;
}
footer a{
	text-decoration: none;
  color: #e4c17e;
}
footer a:hover{
	text-decoration: none;
}
.maodian{
  display:block;
  color: #fff;
  width:34px;
  height:34px;
  background-color: #e4c17e;
  text-decoration:none;
  padding: 10px;
  line-height:18px;
  margin-bottom: 0;
  position:fixed;
	right: 10px;
  bottom: 10px;
  z-index: 10;
}
.maodian span{
  position:relative;
  top:-5px;
  right:2px;
	font-family:iconfont;
	font-size:30px;
  margin-left:-6px;
}
.maodian:hover{
	text-decoration:none;
}
